query {
  user(login: "{{github_username}}") {
    starredRepositories {
      edges {
        node {
          name
          description
          url
          stargazerCount
          owner {
            login
          }
        }
      }
    }
  }
}