query {
  user(login: "{{username}}") {
    starredRepositories {
      edges {
        node {
          name
          description
          url
          stargazerCount
        }
      }
    }
  }
}